<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>Country Information Directory</title>
</head>

<body>
<div class="container">
	<h3>Country Information Directory</h3>
	<hr>

	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
		
			<tr>
				<th>Country Name</th>
				<th>Country Code</th>
				<th>Action</th>
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="tempCountryInformation : ${countryInformation}">
				<td th:text="${tempCountryInformation.countryName}"/>
				<td th:text="${tempCountryInformation.twoCharCode}"/>
				<!-- update button -->
				<td>
					<a th:href="@{/countries/showCountryUpdates(countryCode=${tempCountryInformation.twoCharCode})}"
						class="btn btn-info btn-sm">View Updates</a>
						
					<a th:href="@{/countries/showCountryTimelines(countryCode=${tempCountryInformation.twoCharCode})}"
						class="btn btn-info btn-sm">View Timelines</a>					
				
				<!-- delete button -->
				
					<a th:href="@{/countries/report(countryCode=${tempCountryInformation.twoCharCode})}"
						class="btn btn-danger btn-sm"
						onclick=" if(!(confirm('Are you sure you want to report this country code?'))) return false;">Report Link</a>
				</td>				
			</tr>
		</tbody>
	</table>
</div>
</body>

